:root {
    --green: #80C565;
    --blue: #002B55;
}

/* Global styles */
body, a {
    color: var(--blue);
}

.btn {
    background-color: var(--blue);
    color: var(--green);
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    border-right: 4px solid var(--green);
    border-bottom: 4px solid var(--green);
    border-radius: 7px;
}

img {
    height: 150px;
}

.main-wrapper {
    padding: 100px;
}

.brand-background {
    background-color: var(--blue);
    color: var(--green);
    border-right: 4px solid var(--green);
    border-bottom: 4px solid var(--green);
    border-radius: 7px;
}

/* Hero text */
.hero-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 75px; 
}

.hero-text {
    font-size: 4em;
    padding: 20px;  
}

/* Control panel */
.control-panel {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
}

.layout-wrapper {
    display: flex;
}

.list-layout, .grid-layout {
    height: 40px;
    width: 40px;
    
}

.switch-on {
    background-color: grey;
    color: black;
    border-color: black;
}

.filter-wrapper {
    display: flex;
}

/* Card styles */
.name {
    font-size: 1em;
    padding: 10px;
}

.office {
    font-size: 1em;
}

.contact a {
    margin-right: 1em;
}

.contact a:hover {
    color: var(--green);
}

/* Display employees as a grid */
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid .card {
    padding: 1em;
    margin: 1em;
    border-top: 1px solid var(--blue);
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
    border-left: 1px solid var(--blue);
    border-radius: 7px;
    transition: .15s;
}

.grid .card:hover {
    transform: scale(1.05);
}

/* Display employees as a list */
.list .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    margin: 1em;
    border-top: 1px solid var(--blue);
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
    border-left: 1px solid var(--blue);
    border-radius: 7px;
    transition: .15s;
    max-width: 675px;
}
.list .card:hover {
    transform: scale(1.02);
}

.list .card .info, .list .card .info p {
    margin-right: 20px; 
}

.list .card img {
    height: 100px;
}

.list .card .info {
    display: flex;
    align-items: center;
}

.list .profile, .list .info {
    margin-right: 20px; 
}

.list .contact {
    display: flex;
    flex-direction: row;
    align-content: center;
}

/* Floating scroll to top button  */
.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 1em;
    display: none;
    z-index: 999;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

/* Hide links if profile is unavalible */
.github[href="https://github.com/null"], 
.linkedIn[href="https://www.linked.com/null"], 
.twitter[href="https://www.twitter.com/null"] {
    display: none; 
}

/* Media queries */
@media screen and (max-width: 1025px) {
    .main-wrapper {
        padding: 20px;
    }
    .hero-text-wrapper {
        margin: 20px 0;
    }
    .control-panel {
        display: flex;
        flex-direction: column;
    }
    .filter-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .list .card .info, .list .card .info p {
        margin-right: 10px;
    }
}